* {box-sizing: border-box;}
 
body,html{
	height:100%;
	border: 0px;
	margin:0px;
	color: grey;
	font-family: sans-serif;	
	font-weight: 300;
}
input{
	font-size: 30px;
	font-weight: 100;
	border-radius: 5px;
	border: 1px solid grey;
	padding: 5px;

}
input:focus{
	border:1px solid #2f90cc ;
	outline:none;

}
label{
	align-items: center;
	padding: 10px;
	padding-left: 0px;
}

.flex-container{
	display: flex;		
}
.flex-row{
	display: flex;
	flex-flow: row wrap;
    width: 100%;
    height: auto;
}
.flex-col{
	
	flex-flow: column wrap;
}
.justify-c{
	justify-content: center;

}
.justify-r{
	justify-content: flex-end;
}
.justify-sb{
	justify-content: space-between;
}
.text-c{
 	text-align: center;
 	
 }
.lh-30{
 	line-height: 30px;
 }

.bg-def{
	background-color: #2f90cc;
}

.w-100{
	width: 100%;
}
.w-90{
	width: 90%;
}
.w-80{
	width: 80%;
}
.w-60{
	width: 60%;
}
.w-50{
	width: 50%;
}
.h-10{
	height: 10%;
}
.h-100{
	height: 100%;
}
.text-white{
	color: #ffffff;
}
.text-blue{
	color: #2f90cc;
}
.font-l{
	font-size: 60px;
	margin-top:10px;
}
.font-m{
	font-size: 20px;
	margin-top:20px;
}
.p-20{
	padding: 20px;
}
.m-20{
	margin:20;
}
.mt-20{
	margin-top:20px;
}
.ml-10{
	margin-left: 10px;
}

.b-1{
	border-radius: 10px;
	border: 1px solid grey;
}

.contentBox{
	padding:5%;

}
#queBox{
	display:  none;
}

.btn{
	height: 40px;
	float: center;
	border-radius: 5px;
	background-color: #55a6ed;
	margin: 0px;
	border:0px;
	font-size: 20px;
	color:white;
	margin-top: 30px;
	padding: 10px;
	}
.btn:hover{
	background-color: #55a6ed;
	cursor: default;

}

.queNo{
	margin-bottom: 20px;
}
.question{
	min-height: 50px;
	width: 100%;
	font-size: 30px;
	margin-bottom: 20px;
	
	}
.option{
	min-height: 40px;
	border: 1px solid grey;
	border-radius: 50px;
	margin-bottom: 10px;
	justify-content: flex-start;
	padding: 10px;
}

.option:hover{
	background-color: #55a6ed;
	color: #ffffff; 
	border:none;
}
.option:active{
	background-color: #bfe3f5;
	color: #ffffff; 
	border:none;
}
.selected{
    background-color: #bfe3f5;
	color: #ffffff; 
	border:none;
}
.btn2{
	height: 30px;
	width: 60px;
	border: 1px solid grey;
	border-radius: 5px;
}
.btn2:hover{
	background-color: #55a6ed;
	color: #ffffff;
	border:none;

}
.bg-blue{
	background-color: #55a6ed;
	color: #ffffff;
	border:none;
}

.btn_deactive{
	height: 30px;
	width: 60px;
	border: 1px solid grey;
	border-radius: 5px;
}
.card{
	height: 100px;
	width: 150px;
	margin:20px;
	border-radius: 10px;
	background-color: #bfe3f5;
	justify-content: center;
	text-align: center;
	line-height: 100px;
}
#result{
  display: none;
}

#submit_btn{
	height: 50px;
	width: 100px;
	line-height: 50px;
	border-radius: 10px;
	border: none;
	
}




